@use '@/assets/styles/variables.scss' as *;

.cell {
	display: inline-block;
	background-color: inherit;
	border: 2px solid transparent;
	text-align: center;
	margin: 4px;
	width: 65px;
	height: 65px;
	font-size: 3rem;
	line-height: 65px;
	transition: all 0.3s;
	border-radius: 3px;
	box-shadow: rgba($secondaryColor, 0.2) 0px 8px 24px;

	&:hover {
		border-color: $primaryColor;
	}
}
