@use '@/assets/styles/variables.scss' as *;

.board {
	margin-top: 12px;
}

.title {
	text-align: center;
	margin-bottom: 8px;
	font-size: 2rem;
	&-span {
		color: $primaryColor;
	}
}

.table {
	width: 100%;
	margin: 0 -4px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
